{% extends 'base.html.twig' %}

{% block title %}Sternenhändler{% endblock %} 
{% block css %}
    {{ parent() }}
    <style>
        .col-md-12{
            padding:0;
        }


        .main-content {
            padding-bottom:60px;
        }

    </style>
{% endblock css %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="help" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                <h4>Hilfe</h4>
                                <p>
                                    Tausche hier deine Ressourcen gegen Baupläne und Gegenstände ein.
                                </p>
                                <hr>
                                <p>
                                    Bei den Gegenständen bedeutet HP die Anzahl an Lebenspunkte die ein Gegenstand hat. Hat ein Gegenstand zum Beispiel 300 HP muss ein feindlicher
                                    Spieler 300 Schadenspunkte verursachen um den Gegenstand zu zerstören.
                                </p>
                                <hr>
                                <p>
                                    Das Symbol in Form eines Sterns (<i style="color:#fdd835 !important" class="fa fa-star"></i>) gibt an, wie viel Sternenstaub der Gegenstand kostet. Das Symbol in Form von drei Würfeln (<i style="color:#69f0ae !important" class="fa fa-cubes"></i>) symbolisiert die
                                    benötigte Anzahl an Äthermarken.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-resources" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="modal-title">Achtung</h4>
                        <p>Du hast ungenügende Ressourcen um dies zu kaufen! </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>


    <!--Mask-->
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85);" class="card text-xs-center main-content">
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Sternenhändler&nbsp;&nbsp;
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3>
                    <div class="card-block text-xs-left">
                        <div class="row">
                            <div class="col-xs-12 col-lg-3 text-xs-center">
                                <img style="height:200px;" src="{{ asset('img/toy-576514.svg') }}">
                            </div>
                            <div class="col-xs-12 col-lg-8">
                                <br>
                                <div class="bubble">
                                    <h4> Hallo {{ user.getScreenname }}!</h4>
                                    <p> Willkommen in unserem Sternenladen. Wir haben eine kleine Auswahl an Bauplänen, welche du gegen Ressourcen erwerben kannst!
                                    </p>
                                </div>
                            </div>
                        </div>

                        {% if app.session.flashbag.get('success') == true %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-header  rgba-green-strong white-text">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img  class="img-circle" style="background-color:white; border:solid #00C851; padding:10px; width:110px; height:110px" src="{{ asset(app.session.flashbag.get('success-img')[0]) }}"/>
                                                </div>
                                                <div class="col-md-10 text-xs-left">
                                                    <div style="width:100%; border-radius:20px; padding:10px; height:80px" class="rgba-grey-light">
                                                        <strong>Kauf erfolgreich!</strong><br>
                                                        <p>{{ app.session.flashbag.get('success-message')[0] }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <hr>
                        <div class="row text-xs-center"  style="padding-bottom:20px">
                            <div class="col-xs-12">
                                {% for blueprint in blueprints %}
                                    {% if blueprint.getName != 'nova_xs' %}
                                        {% set buyable=true %}
                                        {% set buyAmount=[] %}
                                        <div class="col-lg-4">
                                            <div class="card rgba-stylish-light">
                                                <div class="row">
                                                    <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset( blueprint.getImg)}}"/>
                                                </div>
                                                <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;"  class="elegant-color card-header white-text">{{ blueprint.getName_DE }}</h3>
                                                <div  class="card-block elegant-color ">
                                                    <hr>
                                                    <div class="row">
                                                        <p>HP: {{ blueprint.getBlueprintStructure.getStructure.getHp }} </p>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        {% for  blueprintResource in blueprint.getBlueprintResources %}
                                                            {% if blueprintResource.getAmount > user.getUserResource(blueprintResource.getResources.getName).getAmount %}
                                                                {% set buyable = false %}
                                                            {% else %}
                                                                {% if (user.getUserResource(blueprintResource.getResources.getName).getAmount != 0 and blueprintResource.getAmount != 0) or blueprintResource.getAmount != 0 %}
                                                                    {% set amount = [(user.getUserResource(blueprintResource.getResources.getName).getAmount / blueprintResource.getAmount)|round(0, 'floor')] %}
                                                                    {% set buyAmount = buyAmount|merge(amount) %}
                                                                {% endif %}
                                                            {% endif %}
                                                            <div class="col-xs-6">
                                                                <p style="color:{{blueprintResource.getResources.getIconColour }}">{{ blueprintResource.getAmount }} <i style="color:{{ blueprintResource.getResources.getColour }} !important" class="fa {{ blueprintResource.getResources.getIcon }}"></i></p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <hr>
                                                    <div class="row">

                                                        <!-- modal -->
                                                        <div class="modal fade" id="{{ blueprint.getName }}" role="dialog">
                                                            <div class="modal-dialog" style="background: rgba(44, 62, 80, 1)">

                                                                <!-- Modal content-->
                                                                <div class="modal-content" style="background: rgba(44, 62, 80, 1)">
                                                                    <form method="post" action="{{  path('buy') }}">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4>Kaufen</h4>
                                                                        </div>
                                                                        <div class="modal-body ">
                                                                            <div class="card rgba-stylish-light">
                                                                                <h3 class="elegant-color card-header white-text">{{ blueprint.getName_DE }}</h3>
                                                                                <div  class="card-block">
                                                                                    <div class="row">
                                                                                        <img  class="img-circle" style="background-color:white; border:solid grey; padding:10px; width:150px; height:150px" src="{{ asset( blueprint.getImg)}}"/>
                                                                                    </div>
                                                                                    <hr>
                                                                                    <div class="row">
                                                                                        <div class="col-xs-12 md-form">
                                                                                            <label for="buyAmount">Anzahl:</label>
                                                                                            {% if buyAmount |length > 0 %}
                                                                                            <input id="buyAmount" class="form-control" type="number" name="amount" min="1" max="{{ min(buyAmount) }}" />
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <div class="row">
                                                                                <div class="col-xs-6">
                                                                                    <button type="button" class="btn btn-inverse btn-lg btn-block" data-dismiss="modal" style="border-radius: 20px; background-color: #e57373 ; margin-left:0px !important">Abbrechen</button>
                                                                                </div>
                                                                                {% if blueprint.getMinlvl <= user.getLvl %}
                                                                                    <div class="col-xs-6">
                                                                                        <input type="hidden" name="bid" value="{{ blueprint.getBid }}">
                                                                                        <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">
                                                                                        <button class="btn btn-inverse btn-lg btn-block" style="border-radius: 20px; background-color: #2BBBAD; margin-left:0px !important" type="submit">Kaufen</button>
                                                                                    </div>
                                                                                {% else %}
                                                                                    <div class="col-xs-6">
                                                                                        <button class="btn rgba-grey-strong btn-lg btn-block" style="border-radius: 20px; margin-left:0px !important" >Ungenügende Stufe...</button>
                                                                                    </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- modal end -->
                                                        {% if buyable == true %}
                                                            {% if blueprint.getMinlvl <= user.getLvl %}
                                                                <a class="btn btn-inverse btn-lg btn-block" style="background-color: #2BBBAD; margin-left:0px !important" data-toggle="modal" data-target="#{{ blueprint.getName }}"><strong>Kaufen...</strong></a>
                                                            {%  else %}
                                                                <a class="btn rgba-grey-strong btn-lg btn-block" style="margin-left:0px !important"><strong>Benötigt Stufe: {{ blueprint.getMinlvl }}</strong></a>
                                                            {% endif %}
                                                        {% else %}
                                                            <button class="btn rgba-grey-strong btn-lg btn-block" style="margin-left:0px !important"  data-toggle="modal" data-target="#modal-resources"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong></button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="strike">
                        <span>
                           Meine Ressourcen
                        </span>
                    </div>
                    <div class="row">
                        {% for resource in user.getUserResources %}
                            <div class="col-md-6">
                                <p style="color:{{resource.getResource.getIconColour }}">{{ resource.getResource.getName_DE }}: {{ resource.getAmount }} X <i style="color:{{ resource.getResource.getColour }} !important" class="fa {{ resource.getResource.getIcon }}"></i></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}