
<!-- Modal -->
<div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog">        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-xs-left ">
                <div class="alert alert-info" role="alert">
                    <h4 class="modal-title">Info:</h4>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and user.getUsername() == app.user.username %}
                        <p>Hier siehst du dein Profil.</p>
                    {% else %}
                        <p>Das ist das Profil von <strong>"{{ user.getScreenname }}"</strong>! Hier siehst du den Fortschritt und die Leistungen dieses Spielers!</p>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
            </div>
        </div>
    </div>
</div>

<!--Mask-->
<div class="container">
    <div class="row">
        <div class="col-md-12" style="color:#fff" >
            <div style="background: rgba(44, 62, 80, 0.85)" class="card text-xs-center main-content">
                <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Profil &nbsp;&nbsp;
                    <!-- Trigger the modal with a button -->
                    <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and user.getUsername() == app.user.username %}
                        <a style="color:white;float:right" href="{{ path('neo4j_profile_edit', {'slug': app.user.username}) }}"><i class="fa fa-cog"></i></a>
                    {% endif %}
                </h3>

                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div style="background-color:transparent" class="card text-xs-center">
                                <div  style="background-color:transparent" class="card-header white-text">
                                    <div class="row">
                                        {% if user.getProfileImage is null %}
                                            <img class="img-circle" style="background-color:white; border:solid grey; padding:10px; height:180px; width: 180px;" src="{{ asset('/defaults/user.png') }}">
                                        {% else %}
                                            <img class="img-circle" style="background-color:white; border:solid grey; padding:10px; height:180px; width: 180px;" src="{{ asset('/users/'~user.getUid~'/'~user.getProfileImage) }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <div style="background-color:transparent" class="card text-xs-center ">
                                <div style="background-color:transparent" class="card-header white-text">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>Name: {{ user.getScreenname }}</p>
                                        </div>
                                        <div class="col-xs-12">
                                            <p>Stufe: {{  user.getLvl }}</p>
                                        </div>
                                        <div class="col-xs-12">
                                            <p>Erfahrungspunkte: {{  user.getXP-((user.getLvl)*(user.getLvl)) }} von {{ ((user.getLvl+1)*(user.getLvl+1))-((user.getLvl)*(user.getLvl)) }}</p>
                                            <progress class="progress progress-success" value="{{ user.getXP-((user.getLvl)*(user.getLvl)) }}" max="{{ ((user.getLvl+1)*(user.getLvl+1))-((user.getLvl)*(user.getLvl)) }}" style="color:000"></progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div style="background-color:transparent" class="card text-xs-center ">
                            <div style="background-color:transparent" class="card-header white-text">
                                <div class="row">
                                    {% if user.getProfileDescription() != '' %}
                                        <p class="text-justify"> {{ user.getProfileDescription() }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        {% set captured = (user.getUserTiles | length)+(user.getUserTilesLost | length) %}
                        <div class="col-xs-12">
                            <div style="background-color:transparent" class="card text-xs-center ">
                                <div style="background-color:transparent" class="card-header white-text">
                                    <div class="row">
                                        {% if captured >= 20 %}
                                            <div class="col-md-3">
                                                <div class="card rgba-stylish-light">
                                                    <div class="row" style="padding-top:10px;">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Compass-96.png')}}"/>
                                                    </div>
                                                    <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Entdecker</strong></h3>
                                                    <div  class="card-block elegant-color">
                                                        <div class="row">
                                                        Mehr als 20 Gebiete eingenommen!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if captured >= 50 %}
                                            <div class="col-md-3">
                                                <div class="card rgba-stylish-light">
                                                    <div class="row" style="padding-top:10px;">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Globe Earth-80.png')}}"/>
                                                    </div>
                                                    <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Weltenbummler</strong></h3>
                                                    <div  class="card-block elegant-color">
                                                        <div class="row">
                                                            Mehr als 50 Gebiete eingenommen!
                                                        </div>
                                                </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                        {% if captured >= 100 %}
                                            <div class="col-md-3">
                                                <div class="card rgba-stylish-light">
                                                    <div class="row" style="padding-top:10px;">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Christmas Star-96.png')}}"/>
                                                    </div>
                                                    <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Eroberer</strong></h3>
                                                    <div  class="card-block elegant-color">
                                                        <div class="row">
                                                            Mehr als 100 Gebiete eingenommen!
                                                        </div>
                                                </div>
                                            </div>
                                                </div>
                                        {% endif %}
                                        {% if captured >= 200 %}
                                            <div class="col-md-3">
                                                <div class="card rgba-stylish-light">
                                                    <div class="row" style="padding-top:10px;">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Medal-96.png')}}"/>
                                                    </div>
                                                    <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Unaufhaltbar!</strong></h3>
                                                    <div  class="card-block elegant-color">
                                                        <div class="row">
                                                            Mehr als 200 Gebiete eingenommen!
                                                        </div>
                                                </div>
                                            </div>
                                                </div>
                                        {% endif %}
                                        {% if captured >= 500 %}
                                            <div class="col-md-3">
                                                <div class="card rgba-stylish-light">
                                                    <div class="row" style="padding-top:10px;">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Trophy-96.png')}}"/>
                                                    </div>
                                                    <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>LEGENDÄR!</strong></h3>
                                                    <div  class="card-block elegant-color">
                                                        <div class="row">
                                                            Mehr als 500 Gebiete eingenommen!
                                                        </div>
                                                </div>
                                            </div>
                                                </div>

                                        {% endif %}
                                        {% if captured >= 800 %}
                                            <div class="col-md-3">
                                                <div class="card rgba-stylish-light">
                                                    <div class="row" style="padding-top:10px;">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Sci-Fi-96.png')}}"/>
                                                    </div>
                                                    <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>AUSSERIRDISCH!</strong></h3>
                                                    <div  class="card-block elegant-color">
                                                        <div class="row">
                                                            Mehr als 800 Gebiete eingenommen!
                                                        </div>
                                                </div>
                                            </div>
                                                </div>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--/.Card-->

