{% extends "Neo4jUserBundle::layout.html.twig" %}
{% block neo4j_user_content %}
    <!--Mask-->
    <div class="flex-center"> 
            <div class="col-xs-12 col-lg-4" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85)" class="card text-xs-center">                
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Login&nbsp;&nbsp;
                    </h3>                    
                    <div class="card-block text-xs-left">
                    {% if error %}
                        <div style="color:#A94442">{{ error.message }}</div>
                    {% endif %}               
                        <form action="{{ path('neo4j_login_check') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                            <div class="md-form">
                                <input class="form-control validate" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                <label for="username" data-error="" data-success="">Benutzername oder Email</label>
                            </div>
                            <div class="md-form">
                                <input class="form-control  validate" type="password" id="password" name="_password" required="required" />
                                <label for="password" data-error="" data-success="">Passwort</label>
                            </div>
                            <!-- <input type="checkbox" id="remember_me" name="_remember_me"/>
                            <label for="remember_me">Remember me</label><br> -->
                            <label><a class="nav-link" style="color: #fff;" href="{{ path('neo4j_password_reset') }}">Passwort vergessen</a></label>
                            <br>
                            <button class="btn btn-inverse btn-lg btn-block" style="background-color: #2BBBAD; margin-left:0px !important" type="submit">Login</button>
                        </form>
                    </div>
               
                </div>
            </div>
    </div>
    <!--/.Mask-->
{% endblock neo4j_user_content %}
