{% extends 'base.html.twig' %}

{% block title %}Rangliste{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        .col-md-12{
            padding:0;
        }


        .main-content {
            padding-bottom:60px;
        }

        p {
            text-align: justify;
            text-justify: auto;
        }

        /*
        @media only screen and (max-width: 500px) {
            img {
                width:100% !important;
            }
        }
        */

    </style>
{% endblock css %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="medal-entdecker" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card rgba-stylish-light white-text">
                                <div class="row" style="padding-top:10px;">
                                    <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Compass-96.png')}}"/>
                                </div>
                                <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Entdecker</strong></h3>
                                <div  class="card-block elegant-color">
                                    <div class="row">
                                        Mehr als 20 Gebiete eingenommen!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="medal-weltenbummler" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card rgba-stylish-light white-text">
                                <div class="row" style="padding-top:10px;">
                                    <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Globe Earth-80.png')}}"/>
                                </div>
                                <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Weltenbummler</strong></h3>
                                <div  class="card-block elegant-color">
                                    <div class="row">
                                        Mehr als 50 Gebiete eingenommen!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="medal-eroberer" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card rgba-stylish-light white-text">
                                <div class="row" style="padding-top:10px;">
                                    <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Christmas Star-96.png')}}"/>
                                </div>
                                <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Eroberer</strong></h3>
                                <div  class="card-block elegant-color">
                                    <div class="row">
                                        Mehr als 100 Gebiete eingenommen!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="medal-unaufhaltbar" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card rgba-stylish-light white-text">
                                <div class="row" style="padding-top:10px;">
                                    <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Medal-96.png')}}"/>
                                </div>
                                <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>Unaufhaltbar!</strong></h3>
                                <div  class="card-block elegant-color">
                                    <div class="row">
                                        Mehr als 200 Gebiete eingenommen!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="medal-legendar" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card rgba-stylish-light white-text">
                                <div class="row" style="padding-top:10px;">
                                    <img  class="img-circle" style="background-color:white; border:solid grey; margin-bottom:-75px; padding:10px; width:150px; height:150px" src="{{ asset('img/medals/Trophy-96.png')}}"/>
                                </div>
                                <h3 style="padding-top:75px; margin-top:10px; margin-bottom:0px;" class="elegant-color card-header white-text"><strong>LEGENDÄR!</strong></h3>
                                <div  class="card-block elegant-color">
                                    <div class="row">
                                        Mehr als 500 Gebiete eingenommen!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="help" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-left ">
                    <div class="alert alert-info" role="alert">
                        <h4 class="modal-title">Zur Info:</h4>
                        <p>Hier siehst du die aktuelle Rangliste aller Spieler</p>
                        <p>Der Rang bezieht sich auf die insgesamt eroberten Gebiete eines Spielers</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>
    <!--Mask-->
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85)" class="card text-xs-center main-content">
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Rangliste!&nbsp;&nbsp;
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="background-color:transparent" class="card text-xs-left">
                                    <div style="background-color:transparent" class="card-header white-text">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-6" style="padding-top: 10px; height:320px; background: url('{{ asset('img/star-half-blue.svg') }}') center right / auto 320px no-repeat">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <img style="margin-top:100px; margin-bottom:auto; height:200px;float:right;" src="{{ asset('img/team/spacesuit-blue-left.svg') }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6" style="padding-top: 10px; height:320px; background: url('{{ asset('img/star-half-red.svg') }}') center left / auto 320px no-repeat">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <img style="margin-top:100px; margin-bottom:auto; height:200px; " src="{{ asset('img/team/spacesuit-red.svg') }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                {% for key,value in teamlist %}
                                                {% if value[0] == 'blue_dwarfs' %}
                                                <strong style="color:#33b5e5;  text-shadow: 3px 3px 0px #000; font-size:45px; font-weight:bold; float:right;" >{{ value[1] }}</strong>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="col-xs-2 text-xs-center">
                                                <strong style="color:#aaa;  text-shadow: 3px 3px 0px #000; font-size:45px; font-weight:bold;" >:</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {% for key,value in teamlist %}
                                                {% if value[0] == 'red_giants' %}
                                                <strong style="color:#FF8800;  text-shadow: 3px 3px 0px #000; font-size:45px; font-weight:bold; float:left;" >{{ value[1] }}</strong>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <hr>
                                        <!--
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3>Bester Spieler: {{ ranklist[0][0] }}</h3>
                                            </div>
                                        </div>
                                        <hr>
                                        -->
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>Rang</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                <strong>Spielername</strong>
                                            </div>
                                            <div class="col-xs-3 ">
                                                <strong>Gebiete</strong>
                                            </div>
                                        </div>
                                        <hr>
                                        {% for key,value in ranklist %}
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    {% if value[1] >= 500 %}
                                                       {{ key+1 }} &nbsp;&nbsp;&nbsp;
                                                        <a data-toggle="modal" data-target="#medal-legendar">
                                                            <img  class="img-circle" style="background-color:white; padding:1px; width:40px; height:40px" src="{{ asset('img/medals/Trophy-96.png')}}"/>
                                                        </a>
                                                    {% elseif value[1] >= 200 %}
                                                        {{ key+1 }}&nbsp;&nbsp;&nbsp;
                                                        <a data-toggle="modal" data-target="#medal-unaufhaltbar">
                                                            <img  class="img-circle" style="background-color:white; padding:1px; width:40px; height:40px" src="{{ asset('img/medals/Medal-96.png')}}"/>
                                                        </a>
                                                    {% elseif value[1] >= 100 %}
                                                        {{ key+1 }}&nbsp;&nbsp;&nbsp;
                                                        <a data-toggle="modal" data-target="#medal-eroberer">
                                                            <img  class="img-circle" style="background-color:white; padding:1px; width:40px; height:40px" src="{{ asset('img/medals/Christmas Star-96.png')}}"/>
                                                        </a>
                                                    {% elseif value[1] >= 50 %}
                                                        {{ key+1 }}&nbsp;&nbsp;&nbsp;
                                                        <a data-toggle="modal" data-target="#medal-weltenbummler">
                                                            <img  class="img-circle" style="background-color:white; padding:1px; width:35px; height:35px" src="{{ asset('img/medals/Globe Earth-80.png')}}"/>
                                                        </a>
                                                    {% elseif value[1] >= 20 %}
                                                        {{ key+1 }}&nbsp;&nbsp;&nbsp;
                                                        <a data-toggle="modal" data-target="#medal-entdecker">
                                                            <img  class="img-circle" style="background-color:white; padding:1px; width:30px; height:30px" src="{{ asset('img/medals/Compass-96.png')}}"/>
                                                        </a>
                                                        {% else %}
                                                        <p>{{ key+1 }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-6">
                                                    {% if key+1 == 1 %}
														{% if value[2] ==  'blue_dwarfs' %}
															<a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#33b5e5;"><h4>{{value[0] }}</h4></a>
														{% elseif value[2] == 'red_giants' %}
															<a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#FF8800;"><h4>{{value[0] }}</h4></a>
														{% endif %}
													{% elseif key+1 == 2 %}
														{% if value[2] ==  'blue_dwarfs' %}
                                                        <a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#33b5e5;"><h4>{{ value[0] }}</h4></a>
                                                        {% elseif value[2] == 'red_giants' %}
														<a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#FF8800;"><h4>{{ value[0] }}</h4></a>
														{% endif %}
													{% elseif key+1 == 3 %}
														{% if value[2] ==  'blue_dwarfs' %}
                                                        <a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#33b5e5;"><h4>{{ value[0] }}</h4></a>
                                                        {% elseif value[2] == 'red_giants' %}
														<a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#FF8800;"><h4>{{ value[0] }}</h4></a>
														{% endif %}
													{% elseif key+1 == 4 %}
														{% if value[2] ==  'blue_dwarfs' %}
                                                        <a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#33b5e5;"><h4>{{ value[0] }}</h4></a>
                                                        {% elseif value[2] == 'red_giants' %}
														<a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#FF8800;"><h4>{{ value[0] }}</h4></a>
														{% endif %}
													{% else %}
														{% if value[2] ==  'blue_dwarfs' %}
                                                        <a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#33b5e5;">{{ value[0] }}</a>
                                                        {% elseif value[2] == 'red_giants' %}
														<a href="{{ path('neo4j_profile', {'slug': value[0]}) }}" style="color:#FF8800;">{{ value[0] }}</a>
														{% endif %}
													{% endif %}
                                                </div>
                                                <div class="col-xs-2">
                                                    {% if key+1 == 1 %}
                                                        <h4>{{value[1] }}</h4>
                                                    {% elseif key+1 == 2 %}
                                                        <h4>{{ value[1] }}</h4>
                                                    {% elseif key+1 == 3 %}
                                                        <h4>{{ value[1] }}</h4>
                                                    {% elseif key+1 == 4 %}
                                                        <h4>{{ value[1] }}</h4>
                                                    {% else %}
                                                        {{ value[1] }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr>
                                        {% endfor %}
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {% if app.user %}
                                                            <a href="{{ path('map') }}" class="btn btn-inverse btn-lg btn-block" style="border-radius: 20px; background-color: #e57373 ; margin-left:0px !important">Zurück</a>
                                                        {% else %}
                                                            <a href="{{ path('home') }}" class="btn btn-inverse btn-lg btn-block" style="border-radius: 20px; background-color: #e57373 ; margin-left:0px !important">Zurück</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
{% block navigation %}
{% endblock navigation %}

