{% extends 'base.html.twig' %}

{% block title %}Bauen{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        .col-md-12{
            padding:0;
        }


        .main-content {
            padding-bottom:60px;
        }

        p {
            text-align: justify;
            text-justify: auto;
        }

        @media only screen and (max-width: 500px) {
            img {
                width:100% !important;
            }
        }

    </style>
{% endblock css %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="help" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-xs-left ">
                    <div class="alert alert-info" role="alert">
                        <h4 class="modal-title">Zur Info:</h4>
                        <p>Hier kannst du die kurze Einführungsgeschichte nachlesen</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>
    <!--Mask-->
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85)" class="card text-xs-center main-content">
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Geschichte!&nbsp;&nbsp;
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="background-color:transparent" class="card text-xs-center ">
                                    <div style="background-color:transparent" class="card-header white-text">
                                        <div class="row flex-center">
                                            <div class="col-xs-6">
                                                    <p>
                                                        Vor langer, langer Zeit in einer weit entfernten Galaxie lebten die Archivaren in einer friedlichen Gesellschaft.
                                                        Lange hielt dieser frieden an und schnell entwickelten die Archivaren modernste Technologien zur Steigerung ihres Wissens und Wohlstandes.
                                                    </p>
                                            </div>
                                            <div class="col-xs-6">
                                                <img src="{{ asset('img/story/robot-1635794_1920.jpg')}}" class="img-circle" style="height:200px">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row flex-center">
                                            <div class="col-xs-6">                                                <p>
                                                    Doch als die Jahrtausende vorüberzogen wurden auch die Ressourcen immer knapper und aufgrund wachsender Spaltung der Gesellschaft begann die Äonenrebellion, eine dunkle Zeit geplagt von gewaltsamen Konflikte um die letzten brauchbaren Ressourcen zu kontrollieren.
                                                    In einem verzweifelten letzten Versuch neue Ressourcen zu gewinnen schlossen sich die Meister der Archivaren zusammen und erschufen das Netherarchiv, ein Raumschiff gewaltigen Ausmasses um in den Sternen nach möglichen Ressourcen zu suchen.
                                                </p>
                                            </div>
                                            <div class="col-xs-6">
                                                <img src="{{ asset('img/story/spaceship-1516139_1280.jpg')}}"  class="img-circle" style="height:150px">
                                            </div>
                                            </div>
                                        <hr>
                                        <div class="row flex-center">
                                            <div class="col-xs-6">                                                <p>
                                                    Nachdem die Meister der Archivaren abhoben, eskalierte jedoch die Situation und der gesamte Planet wurde durch eine modifizierte Technologie zerstört.
                                                </p>
                                            </div>
                                            <div class="col-xs-6">
                                                <img src="{{ asset('img/story/planet-519938_1280.jpg')}}" class="img-circle" style="height:200px">
                                            </div>
                                            </div>
                                        <hr>
                                        <div class="row flex-center">
                                            <div class="col-xs-6">                                                <p>
                                                    Doch die Meister der Archivaren gaben nicht auf und auf ihrer Suche trafen sie auf zwei bis anhin unbekannte Rassen, die Blauen Zwerge und die Roten Riesen.
                                                    Diese berichteten von einem Ressourcenreichen Planeten namens Erde, wo eine Neuansiedlung möglich wäre.
                                                </p>
                                            </div>
                                            <div class="col-xs-6">
                                                <img src="{{ asset('img/story/earth-1365995_1280.jpg')}}" class="img-circle" style="height:200px">
                                            </div>
                                            </div>
                                        <hr>
                                        <div class="row flex-center">
                                            <div class="col-xs-6">                                                <p>

                                                    Doch aufgrund der Feindseligen Stimmung zwischen den blauen Zwergen und den roten Riesen und die Erkenntnis, dass die Ressourcen der Erde nur eine der beiden Rassen versorgen könnte, startete somit ein Wettrennen um die Eroberung der Erde.
                                                    Die Meister der Archivaren mit ihrem unendlichen Wissen setzten die Bedingung, dass sie die Eroberung der Erde überwachen würden gegen einen kleinen Teil der gewonnenen Ressourcen.
                                                    Sie würden sicherstellen, dass keine Ressourcen verschwendet würden, um die Erde nicht dem gleichen Schicksal zu überlassen wie ihr Heimplanet.
                                                </p>
                                            </div>
                                            <div class="col-xs-6">
                                                <img src="{{ asset('img/story/earth-683436_1280.jpg')}}" class="img-circle" style="height:200px">
                                            </div>
                                            </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>
                                                    Die blauen Zwerge und die roten Riesen lernten beide frühzeitig, dass die Erde schon bewohnt war und erkannten, dass die sogenannten «Menschen» von enormer Wichtigkeit waren für die erfolgreiche Eroberung der Erde.
                                                </p>
                                            </div>
                                            <div class="col-xs-12">
                                                <p>
                                                    <strong>Nun ist deine Zeit gekommen um dich einer Fraktion anzuschliessen und bei der Eroberung mitzuhelfen!</strong>
                                                </p>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="{{ path('home') }}" class="btn btn-inverse btn-lg btn-block" style="border-radius: 20px; background-color: #e57373 ; margin-left:0px !important">Zurück</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="{{ path('neo4j_register') }}" class="btn btn-inverse btn-lg btn-block" style="border-radius: 20px; background-color: #2BBBAD ; margin-left:0px !important">Zur Anmeldung!</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block navigation %}
{% endblock navigation %}


