{% extends "Neo4jUserBundle:Registration:register.html.twig" %}
{% block title %}Registration{% endblock %} 
{% block neo4j_user_content %}
        <!--Mask-->
        <!--Mask-->
    <div class="flex-center"> 
        <div class="col-xs-12 col-lg-4" style="color:#fff" >
            <div style="background: rgba(44, 62, 80, 0.85)" class="card text-xs-center">                
                <div class="card-block text-xs-left">
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Passwort Zurücksetzen</h3>                    
                    {% if success is defined %}
                       <div class="alert alert-success" role="alert">
                           {{ success }}
                       </div>
                    {% else %}
                        {% if error is not null %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <br><br>
                            {{ form_start(form, {'method': 'post', 'action': path('neo4j_password_reset')}) }}
                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                {{ form_widget(form.email, { 'attr': {'class': "form-control validate", 'id': "formemail"} }) }}
                                <label for="password_reset_email" data-error="wrong" data-success="right">Emailadresse eingeben</label>
                            </div>
                            <div>
                                <button class="btn btn-inverse btn-lg btn-block" style="background-color: #2BBBAD; margin-left:0px !important" type="submit">Passwort Zurücksetzen</button>
                            </div>
                            {{ form_end(form) }}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock neo4j_user_content %}

