{% extends "form_div_layout.html.twig" %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="radio col-md-3">
        {{ form_widget(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label  for="{{ id }}" class=" card" style="width:150px; height:250px">
            <div class="row">
                    <img style="width:60px" src="{{ asset(attr.img1) }}" alt="Card image cap">
                    <img style="width:60px" src="{{ asset(attr.img2) }}" alt="Card image cap">
            </div>
                <div class="card-block">
                    <p class="card-text text-xs-center"><strong>{{ label|trans({}, translation_domain) }}</strong></p>
                </div>
        </label>
        </div>
{% endspaceless %}
{% endblock checkbox_widget %}