{% extends 'base.html.twig' %}

{% block title %}Team Auswahl{% endblock %} 
{% block css %}
    {{ parent() }}
    <!-- team interface css -->
    <style>
    .team-select input[type="radio"] {
        display:none;
    }

    .team-select label {
        display:inline-block;
        font-family:Arial;
        font-size:16px;
    }
    
    .red_giants {
        background-color: #ef6c00;
        border: 3px solid #fff;
         
    }
    
    .blue_dwarfs {
        background-color: #0099CC;
        border: 3px solid #fff;
    }

    .team-select label h4{
        color: #000;

    }

    .team-select label p{
        color: #000;
    }

    .team-select input[type="radio"]:checked  + .red_giants {
        background-color:#FF8800;
        border: 3px solid #fff ;
        border-radius: 20px;
    }
    
    .team-select input[type="radio"]:checked  + .blue_dwarfs {
        background-color:#33b5e5;
        border: 3px solid #fff ;
        border-radius: 20px;
    }

    .team-select input[type="radio"]:checked  + label p {
        color:#fff;
    }    
    
    .team-select input[type="radio"]:checked  + label i {
        color:#fff;
    }    
    
    .team-select input[type="radio"]:checked  + label h2 {
        color:#fff;
    }
    
    body {
            margin-top: 0;
   }
   
   .card{
       padding-bottom:20px;
   }
   
   
   .col-md-12{
       padding:0;
   }
    </style>

{% endblock css %}
{% block navigation %}
{% endblock %}
{% block content %}
<!-- Modal -->
    <div class="modal fade" id="help" role="dialog">
        <div class="modal-dialog">
      
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                <h4>Hilfe</h4>
                                <p>
                                    Wähle eine Fraktion. 
                                </p>                                  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zur Fraktionswahl</button>
                </div>
            </div>
        </div>
    </div>

    
<!--Mask-->
    <div class="container"> 
        <div class="row">
            <div class="col-md-12" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85);" class="card text-xs-center">                
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Fraktionswahl
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3>                      </h3>                     
                    <div class="card-block text-xs-left">
                        <div class="row">
                            <div class="col-xs-12 col-lg-3 text-xs-center">
                                <img style="height:200px;" src="{{ asset('img/droid-153990.svg') }}">
                            </div>
                            <div class="col-xs-12 col-lg-8">
                                <br>
                                <div class="bubble">
                                    <h4> Willkommen in der Fusionshalle! </h4>
                                    <p>
                                        Trete der Fraktion bei, welcher du zum Sieg verhelfen willst! Die Wahl der Fraktion kann nicht geändert werden.
                                    </p>                                  
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="team-select">
                                <form name="team_apply" method="post" action="{{ path('team_apply') }}">
                                {% for team in teams %}
                                <div class="col-xs-12">
                                    <input id="{{ team.getName }}" type="radio" value="{{ team.getName }}" name="team"/>
                                    <label style="width:100%" for="{{ team.getName }}" class="{{ team.getName }} card text-xs-center">
                                        <div class="row" >
                                            <div class="col-xs-12 col-lg-3">
                                                <img style="margin-top:20px; margin-bottom:20px; height:300px;" src="{{ asset(team.getImg) }}">
                                            </div>
                                            <div>
                                                <div class="card-block">                     
                                                    <h2 class="card-title">{{ team.getTitle }}</h2>
                                                    <p class="card-text">{{ team.getTxt }}</p> 
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <div class="col-xs-12">                            
                            <button class="btn btn-inverse btn-lg btn-block" style="background-color: #2BBBAD; margin-left:0px !important" type="submit">Auswahl Bestätigen</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>     
{% endblock content %}

