{% extends 'base.html.twig' %}

{% block title %}Angreifen{% endblock %} 
{% block content %}
    <!--Mask-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <div class="card text-xs-center">                
                    <h3 class="card-header primary-color white-text">Scan erfolgreich!</h3>
                    <div class="card-block">
                        <div class="alert alert-danger" role="alert">
                            <div class="row">
                                <div class="col-md-2">
                                    <i class="fa fa-2x fa-info-circle"></i>
                                </div>
                                <div class="col-md-10">
                                    Dieses gebiet gehört einem feindlichen Spieler, bekannt unter dem Namen <strong>"{{ userTile.getUsername }}"</strong>!
                                </div>
                            </div>
                        </div> 
                        <div class="alert alert-info" role="alert">
                            <div class="row">
                                <div class="col-md-2">
                                    <i class="fa fa-2x fa-info-circle"></i>
                                </div>
                                <div class="col-md-10">
                                    Du hast in diesem Gebiet eine feindliche Presänz entdeckt! Greiffe die feindlichen Strukturen an um das Gebiet wieder freizugeben und selber einzunehmen!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Dein Scanner hat folgende feindliche einheiten entdeckt:</p>
                            {% if tile.getTileShield != null %}
                            <div class="col-md-6 col-md-offset-3">
                                <div class="card text-xs-center">
                                    <h3 class="card-header warning-color white-text">Schild</h3>
                                    <div class="card-block">
                                        <div class="col-md-12">
                                            <p>Schild Modell: {{ shield }}</p>
                                            <p>Lebenspunkte: {{ shield }}</p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-xs-center">
                                    <h3 class="card-header warning-color white-text">Aufklärungsdrohne</h3>
                                    <div class="card-block">
                                        <div class="col-md-12">
                                            <p>Modell: <strong>{{ tile.getTileDrone.getDrone.getName_DE }}</strong></p>
                                            <p>Lebenspunkte: <strong>{{ tile.getTileDrone.getHp }} / {{ tile.getTileDrone.getDrone.getHp }}</strong></p>
                                            {% if tile.getTileBuilding == null %}
                                            <form method="post" action="{{ path('attack')}}">
                                                <input type="hidden" name="ulat" value="{{ uLat }}">
                                                <input type="hidden" name="ulng" value="{{ uLng }}">
                                                <input type="hidden" name="tlat" value="{{ tLat }}">
                                                <input type="hidden" name="tlng" value="{{ tLng }}">
                                                <input type="hidden" name="tid" value="{{ tile.getTileDrone.getDrone.getId }}">                                                
                                                <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">                                       
                                                <button class="btn btn-primary-outline waves-effect" type="submit"><i class="fa fa-crosshairs" aria-hidden="true"></i>Angreiffen!</button>
                                            </form>
                                            {% else %}
                                                <button class="btn btn-primary-outline waves-effect" disabled><i class="fa fa-3x fa-crosshair" aria-hidden="true"></i>Angreiffen!</button>
                                                <p>Du musst zuerst das feindliche Gebäude zerstören, bevor du die Aufklärungsdrohne angreifen kannst!</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-xs-center">
                                    <h3 class="card-header warning-color white-text">Gebäude</h3>
                                    <div class="card-block">
                                        <div class="col-md-12">
                                            {% if tile.getTileBuilding == null %}
                                                <p>Kein Gebäude vorhanden</p>
                                                <p>&nbsp;</p>
                                            {% else %}
                                                <p>Gebäude Typ: {{ building }}</p>
                                                <p>Lebenspunkte: {{ building }}</p>
                                                <form method="post" action="{{ path('attack')}}">
                                                    <input type="hidden" name="ulat" value="{{ uLat }}">
                                                    <input type="hidden" name="ulng" value="{{ uLng }}">
                                                    <input type="hidden" name="tlat" value="{{ tLat }}">
                                                    <input type="hidden" name="tlng" value="{{ tLng }}">
                                                    <input type="hidden" name="type" value="building">                                                
                                                    <input type="hidden" name="bid" value="{{ tile.getTileBuilding.getBuilding.getId }}">                                                
                                                    <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">                                       
                                                    <button class="btn btn-primary-outline waves-effect" type="submit"><i class="fa fa-3x fa-info-circle" aria-hidden="true"></i>Angreiffen!</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
{% endblock content %}

