{% extends 'base.html.twig' %}

{% block title %}Angreifen{% endblock %} 
{% block content %}
    <!--Mask-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <div class="card text-xs-center">                
                    <h3 class="card-header primary-color white-text">Scan erfolgreich!&nbsp;&nbsp;
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3>
                    <!-- Modal -->
                        <div class="modal fade" id="help" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body text-xs-left ">
                                  <div class="alert alert-danger" role="alert">
                                      <h4 class="modal-title">Achtung:</h4>
                                      <p>Dieses gebiet gehört einem feindlichen Spieler, bekannt unter dem Namen <strong>"{{ tile.getUserTile.getUser.getUsername }}"</strong>!</p>
                                  </div>
                                  <div class="alert alert-info" role="alert">
                                      <h4 class="modal-title">Zur Info:</h4>
                                      <p>Du hast in diesem Gebiet eine feindliche Presänz entdeckt! Greiffe die feindlichen Strukturen an um das Gebiet wieder freizugeben und selber einzunehmen!</p>
                                      <br>
                                      <h4 class="modal-title">Angriff!</h4>
                                      <p>Brauche entweder deine Laserkanone (kurze Wiederaufladezeit) oder eine mächtige Photonenbombe (lange Wiederaufladezeit) um den Feind anzugreiffen.</p>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card text-xs-center">
                                    <div class="card-header default-color white-text">
                                        <div class="row">
                                            {% if user.getProfileImage is null %}
                                            <img class="img-circle" style="background-color:white; border:solid grey; padding:10px; height:180px; width: 180px;" src="{{ asset('/defaults/user.png') }}">    
                                            {% else %}
                                            <img class="img-circle" style="background-color:white; border:solid grey; padding:10px; height:180px; width: 180px;" src="{{ asset('/users/'~user.getUid~'/'~user.getProfileImage) }}"> 
                                            {% endif %}  
                                        </div>
                                        <div class="row">
                                            <button style="margin-left: 170px; margin-top:-200px; border-radius:20px; font-size:20px; border: solid rgba(62, 69, 81, 0.7); color:rgba(62, 69, 81, 0.7);" class="btn waves-effect"><strong>1</strong></button>
                                        </div>
                                        <div class="row">
                                            <button style="margin-top:-70px; border-radius:20px; border: solid rgba(62, 69, 81, 0.7); color:rgba(62, 69, 81, 0.7); font-size:20px" class="btn waves-effect"><strong>{{ tile.getUserTile.getUser.getUsername }}</strong></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% if message != null %}
                            {% if message.type == 'as' %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-header  rgba-green-strong white-text">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img  class="img-circle" style="background-color:white; border:solid #00C851; padding:10px; width:80px; height:80px" src="{{ asset('img/'~message.img)}}"/>
                                                </div>
                                                <div class="col-md-10 text-xs-left">      
                                                     <div style="width:100%; border-radius:20px; padding:10px; height:80px" class="rgba-grey-light">
                                                         <strong>Angriff erfolgreich!</strong><br>
                                                         <p>{{ message.text }}</p>
                                                     </div>
                                                </div>
                                            </div>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                         {% endif %}
                         
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card text-xs-center ">
                                    <div class="card-header default-color white-text">
                                        <div class="row">
                                            {% if tile.getTileShield != null %}
                                            <div class="col-md-4">
                                                <div style="margin-bottom:5px; border-radius:20px;" class="rgba-grey-light">
                                                    <div class="row">
                                                        <button style="width:90%; border-radius:20px;" class="btn rgba-stylish-strong waves-effect">Schild</button>
                                                    </div>
                                                    <div class="row">
                                                        <img  class="img-circle" style="background-color:white; border:solid grey; padding:10px; width:150px; height:150px" src="{{ asset('img/Shield-96.png')}}"/>
                                                    </div>
                                                    <div class="row">
                                                         <button style="width:90%; border-radius:20px;" class="btn rgba-stylish-strong waves-effect"><strong>{{ tile.getTileShield.getShield.getName_DE }}</strong><br>
                                                         {{ tile.getTileShield.getHp }} / {{ tile.getTileShield.getShield.getHp }}<br>
                                                         <progress class="progress progress-success" value="{{ tile.getTileBuilding.getHp }}" max="{{tile.getTileBuilding.getBuilding.getHp }}" style="color:000">25%</progress>
                                                         </button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <form method="post" action="{{ path('attack')}}">
                                                                <input type="hidden" name="ulat" value="{{ uLat }}">
                                                                <input type="hidden" name="ulng" value="{{ uLng }}">
                                                                <input type="hidden" name="t" value="shield">
                                                                <input type="hidden" name="w" value="primary">                                                                
                                                                <input type="hidden" name="tid" value="{{ tile.getId }}">                                                
                                                                <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">                                       
                                                                <button style="border-radius:40px; width:80px; height:80px" class="btn rgba-red-strong waves-effect" type="submit"><img style="padding:5px; width:50px; height:50px" src="{{ asset('img/Laser Beam-96.png')}}"/></button>
                                                            </form>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <form method="post" action="{{ path('attack')}}">
                                                                <input type="hidden" name="ulat" value="{{ uLat }}">
                                                                <input type="hidden" name="ulng" value="{{ uLng }}">
                                                                <input type="hidden" name="t" value="shield">
                                                                <input type="hidden" name="w" value="secondary">                                                                
                                                                <input type="hidden" name="tid" value="{{ tile.getId }}">                                                
                                                                <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">                                       
                                                                <button style="border-radius:40px; width:80px; height:80px" class="btn rgba-red-strong waves-effect" type="submit"><img style="padding:5px; width:50px; height:50px" src="{{ asset('img/Mushroom Cloud Filled-100.png')}}"/></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if tile.getTileBuilding != null %}
                                            <div class="{% if tile.getTileShield == null %}col-md-offset-2 {% endif %} col-md-4">
                                            <div  style="margin-bottom:5px; border-radius:20px;" class="rgba-grey-light">
                                                <div class="row">
                                                    <button style="width:90%; border-radius:20px;" class="btn rgba-stylish-strong waves-effect">Gebäude</button>
                                                </div>
                                                <div class="row">
                                                    <img  class="img-circle" style="background-color:white; border:solid grey; padding:10px; width:150px; height:150px" src="{{ asset('img/City Hall-96.png')}}"/>
                                                </div>
                                                <div class="row">
                                                     <button style="width:90%; border-radius:20px;" class="btn rgba-stylish-strong waves-effect"><strong>{{ tile.getTileBuilding.getBuilding.getName_DE }}</strong><br>
                                                     {{ tile.getTileBuilding.getHp }} / {{ tile.getTileBuilding.getBuilding.getHp }}<br>
                                                     <progress class="progress progress-success" value="{{ tile.getTileBuilding.getHp }}" max="{{tile.getTileBuilding.getBuilding.getHp }}" style="color:000">25%</progress>
                                                     </button>
                                                </div>
                                                <div class="row">
                                                    {% if tile.getTileShield == null %}
                                                    <form method="post" action="{{ path('attack')}}">
                                                        <input type="hidden" name="ulat" value="{{ uLat }}">
                                                        <input type="hidden" name="ulng" value="{{ uLng }}">
                                                        <input type="hidden" name="t" value="building">
                                                        <input type="hidden" name="tid" value="{{ tile.getId }}">                                                
                                                        <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">                                       
                                                        <button style="border-radius:30px; font-size:30px" class="btn rgba-red-strong waves-effect" type="submit"><strong><i class="fa fa-crosshairs" aria-hidden="true"></i></strong></button>
                                                    </form>
                                                    {% else %}
                                                    <!-- Trigger the modal with a button -->
                                                      <button type="button" style="border-radius:30px; font-size:30px" class="btn rgba-grey-strong waves-effect" data-toggle="modal" data-target="#modalbuilding"><strong><i class="fa fa-crosshairs" aria-hidden="true"></i></strong></button>

                                                      <!-- Modal -->
                                                      <div class="modal fade" id="modalbuilding" role="dialog">
                                                        <div class="modal-dialog">
                                                        
                                                          <!-- Modal content-->
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="alert alert-danger" role="alert">
                                                                <h4 class="modal-title">Achtung</h4>

                                                                <p>Du musst zuerst das feindliche Shilde zerstören, bevor du dieses Gebäude angreifen kannst!</p>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    {% endif %}
                                                </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="{% if tile.getTileBuilding == null %}col-md-offset-4 {% endif %} col-md-4">
                                            <div  style="margin-bottom:5px; border-radius:20px;" class="rgba-grey-light">
                                                <div class="row">
                                                    <button style="width:90%; border-radius:20px;" class="btn rgba-stylish-strong waves-effect">Aufklärungsdrohne</button>
                                                </div>
                                                <div class="row">
                                                    <img  class="img-circle" style="background-color:white; border:solid grey; padding:10px; width:150px; height:150px" src="{{ asset('img/Satellite Sending Signal-96.png')}}"/>
                                                </div>
                                                <div class="row">
                                                     <button style="width:90%; border-radius:20px;" class="btn rgba-stylish-strong waves-effect"><strong>{{ tile.getTileDrone.getDrone.getName_DE }}</strong><br>
                                                     {{ tile.getTileDrone.getHp }} / {{ tile.getTileDrone.getDrone.getHp }}<br>
                                                     <progress class="progress progress-success" value="{{ tile.getTileDrone.getHp }}" max="{{ tile.getTileDrone.getDrone.getHp }}" style="color:000">25%</progress>
                                                     </button>
                                                </div>
                                                <div class="row">
                                                    {% if tile.getTileBuilding == null %}
                                                    <form method="post" action="{{ path('attack')}}">
                                                        <input type="hidden" name="ulat" value="{{ uLat }}">
                                                        <input type="hidden" name="ulng" value="{{ uLng }}">
                                                        <input type="hidden" name="t" value="drone">
                                                        <input type="hidden" name="tid" value="{{ tile.getId }}">                                                
                                                        <input type="hidden" name="a" value="{{ user.getUid()|urlencrypt }}">                                       
                                                        <button style="border-radius:30px; font-size:30px" class="btn rgba-red-strong waves-effect" type="submit"><strong><i class="fa fa-crosshairs" aria-hidden="true"></i></strong></button>
                                                    </form>
                                                    {% else %}
                                                    <!-- Trigger the modal with a button -->
                                                      <button type="button" style="border-radius:30px; font-size:30px" class="btn rgba-grey-strong waves-effect" data-toggle="modal" data-target="#modaldrone"><strong><i class="fa fa-crosshairs" aria-hidden="true"></i></strong></button>

                                                      <!-- Modal -->
                                                      <div class="modal fade" id="modaldrone" role="dialog">
                                                        <div class="modal-dialog">
                                                        
                                                          <!-- Modal content-->
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="alert alert-danger" role="alert">
                                                                <h4 class="modal-title">Achtung</h4>

                                                                <p>Du musst zuerst das feindliche Gebäude zerstören, bevor du die Aufklärungsdrohne angreifen kannst!</p>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
{% endblock content %}

