{% extends 'base.html.twig' %}

{% block title %}Charaktererstellung{% endblock %} 
{% block css %}
    {{ parent() }}
	<link href="{{ asset('svgavatars/css/spectrum.css') }}" rel="stylesheet">
	<link href="{{ asset('svgavatars/css/svgavatars.css') }}" rel="stylesheet">
	
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500,700&subset=latin,cyrillic-ext,cyrillic,latin-ext" rel="stylesheet" type="text/css">
    
    <style>
        #svga-container{
            width:100%;
            height:100%;
        }
        
        #svga-start-overlay{
            width:100%;
            height:100%;
        }
        
        
        .col-md-12{
            padding:0;
        }        
        
        body {
            margin-top:0;
        }
        
    </style>
{% endblock css %}
{% block navigation %}
{% endblock %}
{% block content %}
<!-- Modal -->
    <div class="modal fade" id="help" role="dialog">
        <div class="modal-dialog">
      
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                    <h4>Hilfe</h4>
                                    <p>
                                        Erstelle hier deinen Charakter. Dieser wird für andere Benutzer sichtbar sein.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--Mask-->
    <div class="container"> 
        <div class="row">
            <div class="col-md-12" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85);" class="card text-xs-center">                
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Charaktererstellung&nbsp;&nbsp;
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3>                    
                    <div class="card-block text-xs-left">
                        <div class="row">
                            <div class="col-xs-12 col-lg-3 text-xs-center">
                                <img style="height:200px;" src="{{ asset('img/droid-153990.svg') }}">
                            </div>
                            <div class="col-xs-12 col-lg-8">
                                <br>
                                <div class="bubble">
                                    <h4> Herzlich willkommen {{ user.getScreenname() }}!</h4>
                                    <p> Glückwunsch, du hast es erfolgreich zur Sternenschmiede geschafft! Leider sind momentan unsere biogenetischen Scanner offline.
                                        Übermittle hier dein gewünschtes Aussehen, damit wir es im Sternenarchiv speichern können! Danach darfst du in der Fusionshalle
                                        einer Fraktion beitreten.
                                    </p>    
                                    <p>
                                        Wenn du mit deinem Aussehen zufrieden bist, klicke auf "speichern" oder auf &nbsp; <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12">
                                <div id="svgAvatars"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
{% endblock content %}
{% block javascript %}
    {{ parent() }}
    <script>
        var userid = "{{ user.getUid }}";
        var avatar_upload_path = "../..{{ path('avatar_upload') }}";
        var success_redirect_path="../..{{ path('team_apply') }}";
    </script>
	<script src="{{ asset('svgavatars/js/svg.min.js') }}"></script>
	<script src="{{ asset('svgavatars/js/spectrum.min.js') }}"></script>
	<script src="{{ asset('svgavatars/js/jquery.scrollbar.min.js') }}"></script>
	<script src="{{ asset('svgavatars/js/canvg/rgbcolor.js') }}"></script> 
	<script src="{{ asset('svgavatars/js/canvg/StackBlur.js') }}"></script>
	<script src="{{ asset('svgavatars/js/canvg/canvg.js') }}"></script>
	<script src="{{ asset('svgavatars/js/svgavatars.de.js') }}"></script>
	<script src="{{ asset('svgavatars/js/svgavatars.core.js') }}"></script>
    

{% endblock javascript %}

